<form action='/signup' method='POST'>
  <fieldset>
    <legend>Sign Up</legend>
    <input
      type='text'
      name='fullname'
      placeholder='fullname'
      autocomplete='off'
      required
    />
    <input
      type='text'
      name='username'
      placeholder='username'
      autocomplete='off'
      required
    />
    <input
      type='password'
      name='password'
      placeholder='password'
      autocomplete='off'
      required
    />
    <button type='submit'>Submit</button>
  </fieldset>
</form>