<form action='/signin' method='POST'>
  <fieldset>
    <legend>Sign In</legend>
    <input
      type='text'
      name='username'
      placeholder='username'
      autocomplete='off'
      required
    />
    <input
      type='password'
      name='password'
      placeholder='password'
      autocomplete='off'
      required
    />
    <button type='submit'>Submit</button>
  </fieldset>
</form>